[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
pylint = "*"
pymongo = "*"
scrapeops-scrapy-proxy-sdk = "*"
pycryptodome = "*"
scrapyd-client = "*"
fake-useragent = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.7"
